@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--pink: #f4a9b8;
	--blue: #5ccefa;
	--purple: #9c59d1;
	--yellow: #fcf433;

	--text-color: black;
	--full-color: var(--purple);
	--results-color: var(--pink);
	--search-color: var(--blue);

	color: var(--text-color);
}

.dark {
	--text-color: white;
	--full-color: var(--yellow);
	--results-color: var(--blue);
	--search-color: var(--pink);
}

button:active {
	border: none;
}

.search {
	/* Make sure the `div` stays there, even when scrolling. */
	position: fixed;
	/* Use the environment variable for the left anchoring with a fallback. */
	left: env(titlebar-area-x, 0);
	/* Use the environment variable for the top anchoring with a fallback. */
	top: env(titlebar-area-y, 0);
	/* Use the environment variable for setting the width with a fallback. */
	width: env(titlebar-area-width, 100%);
	/* Use the environment variable for setting the height with a fallback. */
	height: env(titlebar-area-height, 33px);
}
