@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--pink: #f4a9b8;
	--blue: #5ccefa;
	--purple: #9c59d1;
	--yellow: #fcf433;

	--text-color: black;
	--full-color: var(--purple);
	--results-color: var(--pink);
	--search-color: var(--blue);

	color: var(--text-color);
}

.dark {
	--text-color: white;
	--full-color: var(--yellow);
	--results-color: var(--blue);
	--search-color: var(--pink);
}

button:active {
	border: none;
}
