@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--pink: #F4A9B8;
	--blue: #5CCEFA;
	--purple: #9C59D1;
	--yellow: #FCF433;

	--text-color: black;
	--full-color: var(--purple);
	--results-color: var(--pink);
	--search-color: var(--blue);

	color: var(--text-color);
}

.dark {
	--text-color: white;
	--full-color: var(--yellow);
	--results-color: var(--blue);
	--search-color: var(--pink);
}

button:active {
	border: none;
}